<%= link_to 'Profile', root_path %>
<br>
<h1>Users</h1>
<style>
  table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
</style>
<table>
  <tr>
    <th>Username</th>
    <th>Hobbies</th>
  </tr>
  <% if @users.empty? %>
    <tr> No users </tr>
  <% else %>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %><br/></td>
        <td>
          <table>
            <%user.hobbies.each do |hobby|%>
              <td><%= "#{hobby.name} " %></td>
            <%end %>
          </table>

        </td>
      </tr>
    <% end %>
    <% end %>

</table>

