<%= link_to 'Profile', root_path %>
<style>
  table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
</style>
<h1>Users nearby</h1>
<table>
  <% if @users.empty? %>
    <tr> No users nearby </tr>
  <% else %>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.username %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
<br>