<%= link_to 'Hobbies', hobbies_path %>
<%= link_to 'Users', users_path %>
<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
<%= link_to 'Users nearby', users_nearby_path(current_user.id) %>
<%= link_to 'Edit profile', edit_user_registration_path %>

<br>
<h1><%= @user.username %></h1>
<h1>Hobbies</h1>
<style>
  table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
</style>
<% if @user.hobbies.empty? %>
  You have no hobbies
  <% else %>
  <table>
    <% @user.hobbies.each do |hobby| %>
      <tr>
        <td>
          <%= hobby.name %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
<br>

