<%= link_to 'Profile', root_path(id: current_user.id) %>
<br>
<h1>Hobbies</h1>
<style>
  table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
</style>
<% if @hobbies.empty? %>
  There are no hobbies
  <br>
<% else %>
  <table>
  <tr>
    <th>Hobby</th>
    <th>Actions</th>
  </tr>
  <tr> No hobbies </tr>
    <% @hobbies.each do |hobby| %>
      <tr>
        <td>
          <%= hobby.name %>
        </td>
        <td>
          <%= simple_form_for @user_hobby do |f| %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.hidden_field :hobby_id, :value => hobby.id %>
            <%= f.submit 'Assign', class: 'btn btn-primary' %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% end %>
</table>
<br>
<%= link_to 'Add New Hobby', new_hobby_path %>



